<div align="center" class="container">
    <h1 style="color: rgb(15, 15, 14)">Employee Data</h1>
    <div class="form-group" style="margin-top: 30px; margin-left: 730px">
        <button class="btn btn-primary" (click)="NewEmployee()">
      New Employee
    </button>
    </div>
    <div class="form_bg">
        <form style="margin-top: 50px">
            <div class="form-field">
                <div style="margin-left: 10px; color: black" class="form-data">

                    <div style="width: 160px; margin-top: 30px">
                        <h3>Product</h3>
                        <div *ngFor="let data of ProductData" style="margin-top: 30px">
                            {{ data.price }}
                        </div>
                    </div>
                    <div style="width: 160px; margin-top: 30px">
                        <h3>Price</h3>
                        <div *ngFor="let data of ProductData" style="margin-top: 30px">
                            {{ data.price }}
                        </div>
                    </div>
                    <div style="width: 160px; margin-top: 30px">
                        <h3>Total</h3>
                        <div *ngFor="let data of ProductData" style="margin-top: 30px">
                            {{ data.quantity_totak }}
                        </div>
                    </div>

                    <div style="width: 250px; margin-top: 30px">
                        <h3>Action</h3>
                        <div *ngFor="let data of ProductData" style="margin-top: 10px">
                            <small>
                <span
                  ><button
                    style="margin-left: 5px"
                    class="btn btn-primary"
                    (click)="editProductDetails(data._id)"
                  >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Edit
                  </button></span
                >
              </small>
                            <span><button
                  style="margin-left: 5px"
                  class="btn btn-primary"
                  (click)="deleteProductDetails(data._id)"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i></button
              ></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>