<html>

<head>
    <style>
        body {
            font-family: sans-serif;
        }
        
        .white-box p {}
    </style>
</head>

<body>
    <div class="container">
        <div id="wrapper" style="margin: auto; background:#f5f2e9; padding: 40px 10px 40px 10px ;">
            <div class="white-box" style="background:#fff; padding:30px;clear: both;">
                <table style="width:100%;border-bottom: 1px solid #ccc; margin-bottom: 20px;">
                    <tr>
                        <td colspan="12">
                            <h2 style="font-weight:100;">Employee Data</h2>
                        </td>

                    </tr>

                </table>

                <p style="font-weight: 100; color: #666666;">Hi {{employeeName}} <br>
                </p>

                <a href={{employeeDataLink}}>Click here to view Employee's Data.</a><br><br>
            </div>


        </div>

    </div>
    </div>
</body>

</html>